<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security.xsd">
    <!-- BEGIN SECURITY CONFIGURATION -->

    <security:http use-expressions="true" authentication-manager-ref="myAuthenticationManager" >
       <!-- <security:intercept-url pattern="/donut/admin/**" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/donut/user/**" access="hasRole('ROLE_USER')"/>-->
        <security:intercept-url pattern="/resources/**" access="permitAll()"/>
        <security:intercept-url pattern="/**" access="permitAll()" />

        <!-- We don't need to write a mapping for "authenticate"
        Spring understands how to process login if we name everything correctly -->
        <security:form-login
                login-page="/showLoginForm"
                login-processing-url="/authenticate"
                authentication-failure-url="/showLoginForm?error=true"
                username-parameter="username"
                password-parameter="password"
                default-target-url="/donut/list"/>
        <security:logout logout-url="/logout"
                         logout-success-url="/showLoginForm?logout=true"/>
    </security:http>

    <security:authentication-manager id="myAuthenticationManager" >
        <security:authentication-provider>
            <security:user-service id="myUserService">
                <security:user name="user" password="p" authorities="ROLE_USER"/>
                <security:user name="admin" password="p" authorities="ROLE_USER,ROLE_ADMIN"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>

    <!-- END SECURITY CONFIGURATION -->

    <!-- BEGIN NEW HIBERNATE CONFIGURATION -->

    <!-- Data source and connection pool bean -->
    <!-- C3P0 library provides connection pool -->
    <bean id="myDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <!-- JDBC Database connection settings -->
        <property name="driverClass" value="org.apache.derby.jdbc.EmbeddedDriver"/>


        <!-- Change the final "db" to match the path of your database in the project. For example, "lib/worldbible" -->
        <property name="jdbcUrl" value="jdbc:derby:#{ servletContext.getRealPath('/') }/../../../db"/>

        <!-- Change the user and password to match your database -->
        <property name="user" value="donut_reviews"/>
        <property name="password" value="stacy"/>

        <!-- these are connection pool properties for C3P0 -->
        <property name="initialPoolSize" value="5"/>
        <property name="minPoolSize" value="5"/>
        <property name="maxPoolSize" value="20"/>
        <property name="maxIdleTime" value="30000"/>
    </bean>

    <!-- Hibernate session factory bean -->
    <bean id="mySessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="myDataSource"/>
        <property name="packagesToScan" value="edu.wctc.entity"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.DerbyTenSevenDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>

    <!-- Hibernate's transaction manager -->
    <bean id="myTransactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="mySessionFactory"/>
    </bean>

    <!-- Beans for converting from Strings to entity objects -->
    <bean id="myConversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <list>
                <bean class="edu.wctc.service.converter.StringToDonutShopConverter"/>
                <bean class="edu.wctc.service.converter.StringToDateConverter"/>
            </list>
        </property>
    </bean>

    <!-- Multipart upload resolver lets Spring intercept and read uploaded files -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10000000"/>
    </bean>

    <!-- Enable transactional annotations -->
    <tx:annotation-driven transaction-manager="myTransactionManager"/>

    <!-- END NEW HIBERNATE CONFIGURATION -->

    <!-- Support for component scanning -->
    <context:component-scan base-package="edu.wctc.dao, edu.wctc.controller.am, edu.wctc.service"/>

    <!-- Support for conversion, formatting, and validation -->
    <mvc:annotation-driven conversion-service="myConversionService"/>

    <!-- Configure Spring MVC view resolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- When our application provides a view name, Spring
         prepends the prefix and appends the suffix to it -->

        <!-- e.g. show-student-list becomes:
        /WEB-INF/view/show-student-list.jsp -->

        <!-- Basically, where to look for view files -->
        <!-- Be sure to create this folder! -->
        <property name="prefix" value="/WEB-INF/view/am/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- Redirect any request starting with /resources/ (including subdirectories)
         to the /resources/ folder -->
    <!-- Stops static file requests from going to dispatcher servlet -->
    <!-- See https://stackoverflow.com/questions/40188743/double-asterisk-in-a-request-mapping/40202997 -->
    <mvc:resources mapping="/resources/**" location="/WEB-INF/resources/"></mvc:resources>
</beans>